@import '../../common/palette.scss';

.body {
  margin: 0;
}

.page-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-flow: column;
  align-content: center;
  justify-content: space-between;
}

.body--theme-light,
.page-container--theme-light {
  background-color: themed-element(background-color, 'light');
}

.body--theme-dark,
.page-container--theme-dark {
  background-color: themed-element(background-color, 'dark');
}