@import '../../common/palette.scss';

$background: $cool-grey;

body {
  margin: 0;
  background-color: $background;
}

.body {
  height: 100%;
  background-color: $background;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-flow: column;
  align-content: center;
  justify-content: space-between;
}
