@import '../../../common/fonts.scss';
@import '../../../common/breakpoints.scss';
@import '../../../common/palette';

.header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: end;
  padding: 5%;

  &__title {
    @include title;

    line-height: 1;
    height: min-content;
  }

  &__logo {
    width: 2em;
    height: 2em;
    margin-right: 5%;
  }

  &__logoBlock {
    display: flex;
    justify-content: center;
    align-items: end;
  }

  @include respond-to(large) {
    padding: 2%;
  }
}

.header__title--theme-light,
.header__logo--theme-light {
  color: themed-element(color, 'light')
}

.header__title--theme-dark,
.header__logo--theme-dark {
  color: themed-element(color, 'dark')
}


