@import '../../../common/fonts';
@import '../../../common/palette';
@import '../../../common/breakpoints';
@import '../../../common/transitions';

.input {
    @include p;

    font-size: 1em;
    border-radius: 7px;
    background: transparent;

    outline: none;
    border: 0;

    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;

    width: 100%;

    &:focus {
      box-shadow: inset 1px 1px 2px $space-cadet, inset -1px -1px 2px $cool-grey;
    }
}

.input--theme-dark {
  color: themed-element(color, 'dark');

  box-shadow: inset 2px 2px 5px #20252e, inset -5px -5px 10px #242734;
}

.input--theme-light {
  color: themed-element(color, 'light');

  box-shadow: inset 2px 2px 5px $space-cadet, inset -5px -5px 10px $cool-grey;
}

.input--read-only{
    box-shadow: none;
    
    &:focus {
        box-shadow: none;
    }
}
