@import './../../../common/fonts';
@import './../../../common/palette';
@import './../../../common/breakpoints';
@import './../../../common/transitions';

.taskInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 .5em;

  @include respond-to(small) {
    margin: 0 4em;
  }

  &__input {
    @include p;

    padding: 0.5em;
    font-size: 1em;
    border-radius: 7px;
    background: transparent;

    outline: none;
    border: 0;

    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;

    width: 100%;

    &:focus {
      box-shadow: inset 1px 1px 2px $space-cadet, inset -1px -1px 2px $cool-grey;
    }
  }

  &__submit {
    @include p;
    font-size: 1em;

    background-color: transparent;
    border: none;

    margin-left: 1em;

    &:hover {
      cursor: pointer;
    }

    &Icon {
      height: 1.5em;
      width: 1.5em;
      @include transition(fill);

      &:hover {
        fill: $mint-cream;
        @include transition(fill);
      }
    }
  }
}

.taskInput__submit--theme-dark {
  color: themed-element(color, 'dark');
}

.taskInput__submit--theme-light {
  color: themed-element(color, 'light');
}

.taskInput__input--theme-dark {
  color: themed-element(color, 'dark');

  box-shadow: inset 2px 2px 5px #20252e, inset -5px -5px 10px #242734;
}

.taskInput__input--theme-light {
  color: themed-element(color, 'light');

  box-shadow: inset 2px 2px 5px $space-cadet, inset -5px -5px 10px $cool-grey;
}

.taskInput__submitIcon--theme-light {
  fill: themed-element(color, 'light');
}

.taskInput__submitIcon--theme-dark {
  fill: themed-element(color, 'dark');

  &:hover {
    fill: #181f2c;
  }
}