@import './../../../common/fonts';
@import './../../../common/palette';
@import './../../../common/transitions';
@import './../../../common/breakpoints';
@import './../../../common/button';

.divider {
  border: 0;
  border-top: 1px solid $space-cadet;
  width: 50%;
  margin-bottom: 1.5em;

  &--theme-light {
    border-color: $space-cadet;
  }

  &--theme-dark {
    border-color: $cool-grey;
  }
}

.tasksList {
  display: flex;
  flex-direction: column;

  margin: 0 .5em;
  width: 100%;

  @include respond-to(medium) {
    width: 50%;
  }

  &__reminderElement {
    @include title;

    text-align: center;

    margin: 0 auto .7em auto;

    &--theme-light {
      color: themed-element(color, 'light');
    }

    &--theme-dark {
      color: themed-element(color, 'dark');
    }
  }

  &__listBlock {
    margin: 1.5em 0.5em 0 0.5em;

    @include respond-to(small) {
      margin: 1.5em 4em 0 4em;
    }
  }

  &__list {
    padding: 0;
  }

  &__listItem {
    @include p;

    line-break: anywhere;
    list-style: none;
    line-height: 1;
    margin-top: .5em;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    &Active {
      font-weight: bold;

      &--theme-light {
        color: $space-cadet;
      }

      &--theme-dark {
        color: $cool-grey;
      }
    }

    &--theme-light {
      color: themed-element(color, 'light');
    }

    &--theme-dark {
      color: themed-element(color, 'dark');
    }
  }

  &__listTitle {
    @include subtitle;
    text-align: center;

    &--theme-light {
      color: themed-element(color, 'light');
    }

    &--theme-dark {
      color: themed-element(color, 'dark');
    }
  }

  &__titleBlock {
    display: flex;
    justify-content: space-between;
  }

  &__clearButton {
    padding: 0.3em;

    &--theme-light {
      @include button-light-theme();
      padding: 0.3em;
      font-size: unset;
    }

    &--theme-dark {
      @include button-dark-theme();
      padding: 0.3em;
      font-size: unset;
    }
  }

  &__clearButtonIcon {
    fill: transparent;

    &--theme-dark {
      fill: $cool-grey;
    }

    &--theme-light {
      fill: $space-cadet;
    }
  }

  &__actionTaskButton {
    background-color: transparent;
    color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 0.1em;
  }

  &__actionTaskButtonIcon {
    fill: transparent;

    width: 1.4em;
    height: 1.4em;

    &--theme-dark {
      fill: $cool-grey;

      @include transition(fill);

      &:hover {
        fill: $mint-cream;
        @include transition(fill);
      }
    }

    &--theme-light {
      fill: $space-cadet;

      @include transition(fill);

      &:hover {
        fill: $mint-cream;
        @include transition(fill);
      }
    }
  }

  &__listStyleIcon {
    margin-right: .5em;
  }
}