@import './palette.scss';

@mixin p {
  font-family: 'Helvetica', sans-serif;
  font-size: 1.5em;
  color: $space-cadet;
}

@mixin subtitle {
  font-family: 'Helvetica', sans-serif;
  font-weight: bolder;
  font-size: 1.5em;
  color: $space-cadet;
}

@mixin title {
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  color: $space-cadet;
}