@import './palette.scss';

@font-face {
  font-family: 'Quicksand', sans-serif;
  src: url("./../../assets/fonts/quicksand_regular.ttf");
}

@mixin p {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5em;
  color: $space-cadet;
}

@mixin subtitle {
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
  font-size: 1.5em;
  color: $space-cadet;
}

@mixin title {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  color: $space-cadet;
}