@mixin transition($property, $property1:null) {
  @if $property != null {
    transition-property: $property, $property1;
    transition-duration: 399ms;
    transition-timing-function: ease-in-out;
  } @else {
    @warn "Empty value provided";
  }
}